$lightGrey: #f7f7fc;
$lightGrey2: #fff2f4;
$lightGrey3: #fafafa;
$lightGrey4: #eff2f7;
$lightGrey5: #8c8c8c;
$darkGrey: #414141;
$white: #ffffff;
$red: #e22c38;
$lightRed: #fc344f;
$black: #2d2b2c;
$blue: #336af7;
