@mixin font18($weight: 400) {
  font-size: 18px;
  font-style: normal;
  font-weight: $weight;
  line-height: 22px;
}

@mixin font16($weight: 400) {
  font-size: 16px;
  font-style: normal;
  font-weight: $weight;
  line-height: 18px;
}

@mixin font14($weight: 400) {
  font-size: 14px;
  font-style: normal;
  font-weight: $weight;
  line-height: 22px;
}
